.App {
  text-align: center;
  padding-bottom: 40px;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.todoDiv {
  width: 85%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.todo-list {
  text-align: left;
}

.todo-input {
  height: 40px;
  font-size: large;
  cursor: pointer;
}

#todoField {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.deleteBtn {
  background-color: rgb(223, 132, 132);
  cursor: pointer;
  border-radius: 3px;
  border-color: rgb(240, 121, 121);
}

.completeBtn {
  background-color: rgb(223, 181, 132);
  cursor:not-allowed;
  border-radius: 3px;
  border-color: rgb(206, 160, 61);
}

.editBtn {
  background-color: rgb(132, 223, 162);
  cursor: pointer;
  border-radius: 3px;
  border-color: rgb(61, 206, 109);
}

.todo-button {
  margin-top: 10px;
  height:35px;
  width: 130px;
  text-align: center;
  font-size:medium;
  background-color: rgb(73, 127, 134);
  border-radius: 5px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
